*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 100%, 74%) ;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
main{
    background-image: url('bg-intro-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    min-height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    height: auto;
    padding: 10em;
}
.content{
    padding-right: 50px;
    margin: auto;
    padding: 30px;
    width: auto;
}
.reg{
    padding-right: 50px;
    margin: auto;
    /* padding: 30px; */
    width: auto;
}
.content h1{
    width: 50%;
    /* padding-bottom: 10px; */
    font-weight: 700;
    color: #eee;
}
.content p{
    width: 70%;
    padding-top: 1em;
    font-weight: 400;
    color: #eee;
}
.form-box{
    background-color: #fff;
    width: 1auto;
    /* margin: 20%; */
    padding: 3em;
    border-radius: 10px;
}
.form{
    padding: 10px;
    margin-top: 5%;
    width: 100%;
    border-radius: 5px;
    outline: none;
}
#submit{
    padding: 10px;
    width: 100%;
    margin-top: 5%;
    /* color: hsl(154, 59%, 51%); */
}
.top-text{
    font-weight: 400;
    /* font-size: 10px; */
    color: #eee;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-bottom: 5%;
    background-color: hsl(248, 32%, 49%);
}
input[type='submit']{
    background-color: hsl(154, 59%, 51%);
}
.down-text{
    padding: 10px;
    color: hsl(246, 25%, 77%);
    font-size: 10px;
}
.down-text a{
    color: hsl(0, 100%, 74%);
}
@media (max-width: 375px) {
    body{
        background-image: url('bg-intro-mobile.png');
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        width: auto;
        min-height: 100vh;
    }
 }
 @media (max-width: 1440px) {
     body{
         width: 100%;
     }
 }